<!DOCTYPE html>
<html>

<head>
    <title>Project</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!-- google sign in -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo logo"><img style="height:30px" src="../assets/images/download.png"> Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <link for="search" type="submit"><a href="/search"><i class="fa fa-search"></i></a></link>
                </li>
                <li><a data-target="modal2" class="modal-trigger" ref="#modal2">Sign In</a></li>
                <!-- <iframe
                        src="https://developers.google.com/identity/sign-in/web/demos/signin_contextual_simple.jshtml?hl=en"
                        style="width: 200px;
                    height: 60px;"></iframe> -->
                <li><a data-target="modal3" class="modal-trigger" ref="#modal3">Sign Up</a></li>
            </ul>


        </div>
    </nav>
    <ul id="mobile-demo" class="sidenav">
        <li> <input id="search" type="search" required></li>
        <li><label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i></li>
            <li><a data-target="modal2" class="modal-trigger" ref="#modal2">Sign In</a></li>
            <!-- <iframe
                    src="https://developers.google.com/identity/sign-in/web/demos/signin_contextual_simple.jshtml?hl=en"
                    style="width: 200px;
                height: 60px;"></iframe> -->
            <li><a data-target="modal3" class="modal-trigger" ref="#modal3">Sign Up</a></li>
    </ul>
    <br>
    <br>
    <br>
    <section class="container">
        <div class="fullscreen">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="card-title center-align search-title">Search our Sounds!</div>

                        
                            <div class="input-field search-title" id="search-form">
                                <form formaction="/search" class="white" method="get">

                                    <input id="search-input" type="text" placeholder="Search Sound or Genre"
                                        name="search" formaction="/search">
                                    <label class="label-icon right" for="search"><i class="material-icons">search</i></label>
                                </form>
                            </div>
                            <div class="card-content center-align">
                            <span class="card-title">Sounds</span>
                            <!-- <div class="chip">
                                House
                            </div>
                            <div class="chip">
                                Drums
                            </div> -->
                            <a id="words-for-card"><p>Here is where you can find the best sounds from the best producers around the town!</p></a>
                        </div>
                        <div class="card-action" id="search-card">
                            <a href="#">This is a link</a>
                            <table>
                                <thead>
                                    <tr>
                                        <th id="bank-name">Sounds</th>
                                        <th>Genre</th>
                                        <th>File</th>
                                        <th><a class="" href="#"><img style="width:25px"
                                                    src="../../assets/images/download.png"></a></th>
                                    </tr>
                                </thead>

                                <tbody class="th-body">
                                </tbody>
                            </table>
                            <br><br>

                            <nav class="black" aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <br>
    <br>
    <br>
    <br>

    <section>
        <div class="container">
            <div class="row">
                <h4>Customers who liked this pack also liked:</h4>
                <div class="col s3 m3"><img
                        src="http://www.dwdrums.com/images/artists/wallpaper/enoughSaid-TommyClufetos-16x9.jpg" alt=""
                        class="materialboxed responsive-img"><span class="card-title center-align"
                        id="bank-name">Bitchin Drums</span></div>
                <div class="col s3 m3"><img src="https://wallpapercave.com/wp/XWx75m7.jpg" alt=""
                        class="materialboxed responsive-img rounded"><span class="card-title center-align"
                        id="bank-name">Guitar
                        Sounds</span></div>
                <div class="col s3 m3"><img src="https://wallpaperplay.com/walls/full/f/f/6/200727.jpg" alt=""
                        class="materialboxed responsive-img"><span class="card-title center-align" id="bank-name">Grand
                        Piano</span></div>
                <div class="col s3 m3"><img src="https://ak8.picdn.net/shutterstock/videos/1844368/thumb/1.jpg" alt=""
                        class="materialboxed responsive-img"><span class="card-title center-align" id="bank-name">Stingy
                        Hats</span></div>

            </div>
        </div>
        
    </section>
    <br>
    <br>
    <br>
    <br>

        <!-- Sign in modal -->
        <div id="modal2" class="modal">
                <div class="modal-content">
                    <h4>Login</h4>
                    <form>
                        <input type="email" placeholder="email">
                        <input type="password" placeholder="Password">
                </div>
                <div class="modal-footer">
                    <a type="submit" href="/users" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
                </form>
            </div>
    
            <!-- Sign up modal -->
            <div id="modal3" class="modal">
                <div class="modal-content">
                    <h4>Sign Up</h4>
                    <form>
                        <input type="text" placeholder="First Name">
                        <input type="text" placeholder="Last Name">
                        <input type="email" placeholder="email">
                        <input type="password" placeholder="Password">
                </div>
                <div class="modal-footer">
                    <a type="submit" href="/users" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
                </form>
                <div class="center-align"><h5>Already have an account</h5><br>
                    <button data-target="modal2" class="modal-trigger btn black center-align" ref="#modal2">Login</button><br><br>
                </div>
            </div>
        </section>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Logo</h5>
                    <p class="grey-text text-lighten-4">We are all about sharing our sounds, click the links to get
                        starter!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Sign Up</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/user.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-card').hide();
            $('.sidenav').sidenav();
            $('.modal').modal();
            $('.slider').slider();
            $('.carousel.carousel-slider').carousel({
                fullWidth: true
            });
        });
        var mb = document.querySelectorAll('.materialboxed');
        M.Materialbox.init(mb, {

        })
    </script>