<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="../assets/images/download.png" />
    <title>Project</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!-- google sign in -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <nav>

        <div class="nav-wrapper">
            <a href="/" class="brand-logo logo"><img style="height:30px" src="../assets/images/download.png"> Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <link for="search" type="submit"><a href="/search"><i class="fa fa-search"></i></a></link>
                </li>
                <li><a data-target="modal2" class="modal-trigger" ref="#modal2">Sign In</a></li>
                <li><a data-target="modal3" class="modal-trigger" ref="#modal3">Sign Up</a></li>
            </ul>
        </div>

        <ul id="mobile-demo" class="sidenav"><br>
            <li><a href="/" class="brand-logo logo"><img style="height:30px" src="../assets/images/download.png">
                    Logo</a></li><br>
            <li>
                <link for="search" type="submit"><a href="/search"><i class="fa fa-search"></i></a></link>
            </li>
            <li><a data-target="modal2" class="modal-trigger" ref="#modal2">Sign In</a></li>
            <li><a data-target="modal3" class="modal-trigger" ref="#modal3">Sign Up</a></li>
        </ul>
    </nav>


    <section>
        <div>
            <div class="caption center-align">
                <img class="back-1" src="../assets/images/back-1.jpg">
                <div class="back-1-text white-text left-align">
                    <h1 class="one-header">Find<br>your<br>sound</h1>
                    <p id="index-script-1" class="back-1-body">Join our growing group of producers<br>
                        and contribute to our library of high quality<br>
                        sounds!</p>
                    <div id="index-btn-1"><a href="" data-target="modal3" class="modal-trigger center-align p-5"
                            ref="#modal3">Sign Up</a></div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="parallax-container center valign-wrapper">
            <div class="parallax"><img
                    src="http://www.dwdrums.com/images/artists/wallpaper/enoughSaid-TommyClufetos-16x9.jpg"></div>
            <div class="container">
                <div class="row">
                    <div class="col s12 white-text">
                        <h2 class="blue-text text-blue darken-1">Check out our Users Sound</h2>
                        <p class="blue-text text-blue darken-1">The best sounds around, click below to get start</p>
                        <a class="btn-large black" href="/search">Click Me!</a>
                    </div>
                </div>
            </div>
    </section>

    <section class="sec-4">
        <div class="container sec-4-body">
            <img class="snip z-depth-5" style="width:300px" src="../../assets/images/snip.jpg">
            <div class="caption center-align">
                <div class=" white-text left-align">
                    <h1 class="two-header">Best<br>Sounds<br>Around</h1>
                    <p class="">Join our growing group of producers<br>
                        and contribute to our library of high quality<br>
                        sounds!</p>
                    <p>
                        <div id="index-btn-2"><a href="" data-target="modal2" class="modal-trigger center-align"
                                ref="#modal2">Login</a>
                    </p>
                </div>

            </div>
        </div>
        </div>
    </section>

    <section>
        <div class="parallax-container center valign-wrapper" style="width:100%">
            <div class="parallax"><img style="width:100%" src="../../assets/images/back-1.jpg"></div>
            <div class="container">
                <div class="row">
                    <div class="col s12 white-text">
                        <h2 class="blue-text text-blue darken-1">Are you listening yet?</h2>
                        <p class="blue-text text-blue darken-1">Get Some!</p>
                        <a class="btn-large black" href="/search">Click Me!</a>
                    </div>
                </div>
            </div>
    </section>

    <section class="sec-3">
        <div class="container sec-3-content">
            <h3>Contact Us</h3><br>
            <div class="row">
                <form class="col s12" action="mailto:josh.jenkin@live.com" method="post" enctype="text/plain">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            Let us know what's in your brain!:
                            <div class="input-field inline">
                                <input id="email_text" type="text">
                                <label for="email_text">Brain Contents</label>

                                <button class="btn black" type="submit" href="#">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>


    <!-- Sign in modal -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Login</h4>
            <form id="sign-in-submit">
                <input id="existing-email" type="email" placeholder="email">
                <input id="existing-password" type="password" placeholder="Password">
        </div>
        <div class="modal-footer">
            <button type="submit" href="/users" class="modal-close waves-effect waves-green btn-flat">Agree</button>
        </div>
        </form>
        <div class="center-align m-b-5">
            <button id="hiding-modal" data-target="modal4" class="modal-trigger btn black center-align"
                ref="#modal4">Forgot Password</button>
        </div>
    </div>

    <!-- forgot pass modal -->
    <div id="modal4" class="modal">
        <div class="modal-content">
            <h4>Forgot Password</h4>
            <form id="forgot-pass-form" action="https://formspree.io/josh.jenkin@live.com" method="POST">
                <input id="forgot-pass" name="email" type="email" placeholder="email">
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-close waves-effect waves-green btn-flat">Agree</button>
        </div>
        </form>
        <div class="center-align m-b-5">
        <button id="hiding-modal" data-target="modal2" class="modal-trigger btn black center-align"
            ref="#modal2">Login</button>
            </div>
    </div>

    <!-- Sign up modal -->
    <div id="modal3" class="modal">
        <div class="modal-content">
            <h4>Sign Up</h4>
            <form id="sign-up-submit">
                <input id="new-user-name" type="text" placeholder="User Name">
                <input id="user-first-name" type="text" placeholder="First Name">
                <input id="user-last-name" type="text" placeholder="Last Name">
                <input id="user-up-email" type="email" placeholder="email">
                <input id="user-up-password" placeholder="Password">
                <br>
                <br>
                <br>
                <h6>Tell us a little about yourself</h6>
                <input id="user-info" placeholder="Info">

        </div>
        <div class="modal-footer">
            <!-- href="/users" -->
            <button type="submit" href="/users" class="modal-close waves-effect waves-green btn-flat">Agree</button>
        </div>
        </form>
        <div class="center-align">
            <h5>Already have an account</h5><br>
            <button id="hiding-modal" data-target="modal2" class="modal-trigger btn black center-align"
                ref="#modal2">Login</button><br><br>
        </div>
    </div>
    </section>


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Logo</h5>
                    <p class="grey-text text-lighten-4">We are all about sharing our sounds, click the links to get
                        starter!</p>
                </div>
                <div id="footer-links" class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="mailto:josh.jenkin@live.com">Contact Us</a></li>
                        <li><a href="" data-target="modal2" class="modal-trigger" ref="#modal2">Login</a></li>
                        <li><a href="" data-target="modal3" class="modal-trigger" ref="#modal3">Sign Up</a></li>
                        <li><a href="" class="grey-text text-lighten-3" href="#!">Blog (Coming!)</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/indexjs.js"></script>
    <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.slider').slider();
            $('.modal').modal();
            $('.parallax').parallax();
            $('.carousel.carousel-slider').carousel({
                fullWidth: true
            });
        });

        // sign on functions
        function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
        }
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
        function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        }
        function onFailure(error) {
            console.log(error);
        }
        function renderButton() {
            gapi.signin2.render('g-signin2', {
                'scope': 'profile email',
                'width': 240,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
            });
        }
    </script>
</body>

</html>