nav {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../images/sec-4-back.jpg");
}
footer {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../images/sec-4-back.jpg");
}
.back-1 {
    width: 100%;
    z-index: -1;
}
.back-1-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -30%);
}
section {
    font-family: 'Anton', sans-serif;
}
.one-header {
    font-size: 100px;
}
.back-1-body {
    font-size: 30px;
}
@media only screen and (max-width: 1400px) {
    .back-1-text {
        position: absolute;
        top: 30%;
        transform: translate(-30%, -50%);
    }
    .user-container {
        width: 100%!important;
    }
  }
@media only screen and (max-width: 1000px) {
    .back-1 {
        width: 100%;
        height: 500px;
        margin: auto;
        z-index: -1;
    }
    .one-header {
        font-size: 50px;
    }
    .back-1-body {
        font-size: 15px;
    }
    .back-1-text {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-60%, -50%);
    }
  }
  @media only screen and (max-width: 700px) {
    .back-1-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-40%, -50%);
    }
    #hide-on {
        display: none;
    }
    audio {
         width: 225px;
         }
  }
  .parallax-container {
    height: 400px;
  }
  .sec-3 {
      background-image: url("../images/sec-3-back.png")
  }
  .sec-3-content {
      padding-top: 5%;
      padding-bottom: 5%;
  }
  .sec-4 {
    background-image: url("../images/sec-4-back.jpg")
}
.sec-4-body {
    padding-top: 5%;
    padding-bottom: 5%;
}
.snip {
    float: right;
    margin-right: 25%;
}
.search-title {
    padding: 25px;
}
/* .search-button-bank {
    button: focus {outline:0;}
} */
.audio-player {
    background-color: black;
    color: black;
}
