<!DOCTYPE html>
<html>

<head>
  <title>Project</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Anton|Ubuntu" rel="stylesheet">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo logo"><img style="height:30px" src="assets/images/logo2.png"> Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><input id="search" type="search" required></li>
        <li><label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i></li>
        <li><a href="#" class="">Sign Up</a></li>
        <li><a href="#">Login</a></li>
      </ul>


    </div>
  </nav>
  <ul id="mobile-demo" class="sidenav">
    <li> <input id="search" type="search" required></li>
    <li><label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i></li>
    <li><a href="#" class="">Sign Up</a></li>
    <li><a href="#">Login</a></li>
  </ul>

  <section class="container">
    <div class="fullscreen">


      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="card-image">
              <img src="assets/images/back-1.jpg">
              <span class="card-title" id="user-name">User Name</span>
            </div>
            <div class="card-content" id="user-content">
              <span class="card-title" id="user-name">User Name</span>
              <h6>More Info</h6><br>
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action" id="user-website">
              <a href="#">This is a link</a>
              <table>
                <thead>
                  <tr>
                    <th>Sound Bank Name</th>
                    <th>Genre</th>
                    <th>Item Price</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td><a href="#">Bitchin Sounds</a></td>
                    <td>House</td>
                    <td>$15.00</td>
                    <td><a id="play-sample" href="#"><i
                      class="small material-icons">play_circle_outline</i></a></td></td>
                  </tr>
                  <tr>
                    <td><a href="#">Dubstep Drums</a></td>
                    <td>Dubstep</td>
                    <td>$1.76</td>
                    <td><a id="play-sample" href="#"><i
                      class="small material-icons">play_circle_outline</i></a></td></td>
                  </tr>
                  <tr>
                    <td><a href="#">Glitch Ambs</a></td>
                    <td>Ambient</td>
                    <td>$.00</td>
                    <td><a id="play-sample" href="#"><i
                      class="small material-icons">play_circle_outline</i></a></td></td>
                  </tr>
                </tbody>
              </table>
              <br><br>

              <nav class="black" aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>





  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Logo</h5>
          <p class="grey-text text-lighten-4">We are all about sharing our sounds, click the links to get starter!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Sign Up</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2019 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  <!--JavaScript at end of body for optimized loading-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="assets/js/app.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('.slider').slider();
      $('.carousel.carousel-slider').carousel({
        fullWidth: true
      });
    });
  </script>
</body>

</html>